.login-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  background-color: #f5f7fa;
  background-image: url('/public/physiotherapy-loginpage.jpg');
  background-size: cover; /* Crucial for scaling */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.login-card {
  background-color: violet;
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 48px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form {
  position: relative;
  z-index: 1;
}

.google-sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: indigo;
  color: #000;
  border: 2px solid #ddd;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 500;
  padding: 12px 16px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.google-sign-in-button:hover {
  background-color: #f9f9f9;
}

.google-icon {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}